<div class="row" style="margin-top:25px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-4">
        <% if @profile.present? %>
          <% if @profile.picture.present? %>
            <%= image_tag @profile.picture, size: '200' %>
          <% else %>
            <%= gravatar_tag @user, size: '200', html: { id:'gravatar' } %>
          <% end %>
        <% else %>
          <%= gravatar_tag @user, size: '200', html: { id:'gravatar' } %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h3>
          <% if @profile.present? %>
            <% if @user.full_name.present? %>
              <%= @user.full_name %>
            <% else %>
              <%= @user.email %>
            <% end %>
          <% else %>
            <%= @user.email %>
          <% end %>
        </h3>
        <% if @profile.present? %>
          <div class="my_profile">
            <% if @user.full_name.present? %>
              <p>Email: <%= @user.email %></p>
            <% end %>
            <% if @profile.job_title.present? %>
              <p>Job Title: <%= @profile.job_title %></p>
            <% end %>
            <% if @profile.phone_no.present? %>
              <p>Phone Number: <%= @profile.phone_no %></p>
            <% end %>

          </div>
      <% end %>
      </div>
      <div class="col-md-12">
        <% if @profile.summary.present? %>
          <h3 align="center">Summary</h3>
          <p><%= @profile.summary %></p>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <% if @posts.present? %>
        <div class="col-md-12" style="margin-top:35px;">
          <h3 align="center">Previous updates</h3>
          <% @posts.each do |post| %>
            <div class="well">
                <h4>Title: <%= post.title %></h4>
                <small>
                  <span>created by:
                    <% if post.user.full_name.present? %>
                      <%= post.user.full_name %>
                    <% else %>
                      <%= post.user.email %>
                    <% end %>
                  </span>, <span><%= time_ago_in_words(post.created_at) %> ago</span>
                </small><br/><br/>
                <p><%= post.content.html_safe %></p>
                <% if post.picture.present? %>
                  <%= image_tag post.picture, width: "60%", height: "200" %>
                <% end %>

            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="col-md-6">
    <% if @jobs.present? %>
      <div class="col-md-12" style="margin-top:35px;">
          <h3 align="center">Saved jobs</h3>
          <% @jobs.each do |job| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="col-md-3">
                  <%= job.job_title %>
                </div>
                <div class="col-md-5">
                  <%= truncate(job.job_requirement, length: 80) %>
                </div>
                <div class="col-md-4">
                  <%= link_to 'View job', job_path(job), class: 'btn btn-xs btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

