<div class="row">
  <div class="rol-md-8 col-md-offset-2">
    <%= form_for @job do |f| %>
      <div class="form-group">
        <%= f.label :job_title %>
        <%= f.text_field :job_title, class: 'form-control', autofocus: true, placeholder: 'Job Title', required:true %>
      </div>
      <div class="form-group">
        <%= f.label :employment_type %>
        <%= f.select :employment_type, options_for_select(Job.type_options, selected: f.object.employment_type),
                                        { include_blank: 'Employment Type'},
                                        class: 'form-control', required:true %>
      </div>
      <div class="form-group">
        <%= f.label :job_location %>
        <%= f.text_field :job_location, class: 'form-control', placeholder: 'Work Location', required:true %>
      </div>
      <div class="form-group">
        <%= f.label :job_requirement %>
        <%= f.text_area :job_requirement, cols: '5', rows: '8', class: 'form-control',
                                                placeholder: 'Work Requirement', required:true %>
      </div>
      <% if @job.new_record? %>
        <%= f.submit 'Post job', class:'btn btn-lg btn-success' %>
      <% else %>
        <%= f.submit 'Edit job', class:'btn btn-lg btn-success' %>
      <% end %>
    <% end %>
  </div>

</div>
