<div class="row">
  <% if @jobs %>
    <% if @jobs.size > 0 %>
      <div id="job_lists">
        <h3 align="center">All posted jobs</h3>
        <% @jobs.each do |job| %>
        <div class="panel panel-primary">
          <div class="panel-body" style="padding-left:0">
            <div class="col-md-3">
              <%= job.job_title %><br/>
              <%= job.employment_type %><br/>
              <%= job.job_location %>
            </div>
            <div class="col-md-6" style="text-align:left;">
              <%= truncate(job.job_requirement, length: 150) %><br/>
              <div class="job-post-detail" style="margin-top:5px; color:#357ebd;">
                <small>
                  <span>Posted by:
                    <% if job.user.full_name.present? %>
                      <%= job.user.full_name %>
                    <% else %>
                      <%= job.user.email %>
                    <% end %>
                  </span>,
                  <span> <%= time_ago_in_words(job.created_at) %> ago</span>
                </small>
              </div>
            </div>
            <div class="col-md-3">
              <%= link_to 'View job', job_path(job), class: 'btn btn-xs btn-primary' %>
              <% if current_user.can_save_job?(job) and !current_user.post_job?(job) %>
                <%= link_to 'Save job', add_job_path(job_id: job.id), class: 'btn btn-xs btn-success',
                                                                        method: :post %>
              <% elsif current_user.post_job?(job) %>
                <span class="panel panel-default">Owned job</span>
              <% else %>
                <span class="panel panel-default">Job saved</span>
              <% end %>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
