<div class="row" style="margin-top:35px;" id="job-lookup">
  <div class="col-md-8 col-md-offset-2">
    <div class="row input-group" style="width: 100%;">
      <%= form_tag search_job_path, remote: true, method: :get, id: 'job-lookup-form' do %>
      <div class="col-md-5 job_title">
        <i class="fa fa-suitcase"></i>
        <%= text_field_tag :job_title_search_param, params[:job_title_search_param],
        class: 'form-control', autofocus: true,
          placeholder: 'Job Title' %>
        </div>
        <div class="col-md-5 job_location">
          <i class="fa fa-map-marker"></i>
          <%= text_field_tag :job_location_search_param, params[:job_location_search_param],
          class: 'form-control',
            placeholder: 'Job Location' %>
          </div>
          <div class="col-md-1">
            <span class="input-group-btn">
              <%= button_tag(type: :submit, class: 'btn btn-default') do %>
              <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
          <% end %>
          <%= render 'common/spinner' %>


          <% if @job_results %>
          <% if @job_results.size > 0 %>
          <div class="col-xs-12" id="job_lookup_result">
            <h3 align="center">Job Search Results</h3>
            <% @job_results.each do |job| %>
            <div class="panel panel-default job">
              <div class="panel-body" style="padding-left:0">
                <div class="col-md-4">
                  <%= job.job_title %><br/>
                </div>
                <div class="col-md-3" style="text-align:left;">
                  <%= job.employment_type %></br>
                  <%= job.job_location %>
                </div>
                <div class="col-md-5">
                  <%= link_to 'View job', job_path(job), class: 'btn btn-xs btn-primary' %>
                  <% if current_user.can_save_job?(job) %>
                    <%= link_to 'Save job', add_job_path(job_id: job.id), class: 'btn btn-xs btn-success',
                                                                        method: :post %>
                  <% else %>
                    <span class="panel panel-default">Job saved</span>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% else %>
          <p class="lead col-md-12">
            No job match this criteria
          </p>
          <% end %>
          <% end %>

          <div col-md-12 id="job_lookup_error"></div>
        </div><!-- /input-group -->


      </div>

    </div>
