<h1 align="center"><%= @job.job_title %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <h4>Employment Type</h4>
      <p><%= @job.employment_type %></p>
    </div>
    <div class="well">
      <h4>Job Location</h4>
      <p><%= @job.job_location %></p>
    </div>
    <div class="well">
      <h4>Job Requirement</h4>
      <p><%= simple_format(@job.job_requirement) %></p>
    </div>

  </div>
  <div class="col-md-2" style="float:right;">
    <div id="action-sidebar">
      <% if current_user.user_job_relations.where(job_id: @job.id).first.present? %>
        <%= link_to 'Remove saved job', user_job_relation_path(@job), class:"btn btn-lg btn-danger",
                                              method: :delete,
                                              data: {confirm: 'Are you sure?'} %>
      <% else %>
        <%= link_to 'Save job', add_job_path(job_id: @job.id), class:'btn btn-lg btn-primary', method: :post %>
      <% end %>
    </div>
  </div>
</div>
