<!-- Add post form -->
<div class="row" style="text-align: center;" id="add-post">
  <div class="col-md-12" id="share-update">
    <i class="fa fa-quote-left"></i> Share an update
  </div>
</div>
<div id="post-form">
  <%= form_for(@post, html: { multipart: true }) do |f| %>
    <div class="form-group">
        <div class="col-md-10">
        <%= f.label :title %>
        </div>
        <div class="col-md-2" id="upload-image">
        <i class="fa fa-image"></i>
        </div>
        <%= f.text_field :title, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.file_field :picture, id: 'my_file',
                        accept: 'image/png,image/gif,image/jpeg, image/jpg',
                        style: 'display:none', onchange: "readURL(this);" %>
    </div>
    <div class="image-prev">
      <img id="img_prev" src="#" style="display: none;" />
      <span class="btn btn-danger deletePhoto" style="display: none;">Delete</span>
    </div>
    <%= f.submit 'Share', class: 'btn btn-primary' %>

  <% end %>
</div><!-- END Add post form -->
